raider.io_funnel_analysis/.env
raider.io_funnel_analysis/Defunct/rio_data_tww_s2.jsonl
raider.io_funnel_analysis/rio_data_raw_tww_s2.jsonl
raider.io_funnel_analysis/Defunct/runs_raw.csv
raider.io_funnel_analysis/Defunct/tww_s2_runs.csv
raider.io_funnel_analysis/Defunct/tww_s2_characters.csv
raider.io_funnel_analysis/Defunct/runs_raw.parquet
raider.io_funnel_analysis/Defunct/tww_s2.db
portfolio_backup/
